<div class="feature col">
  <div class="feature-icon bg-gradient">
    <img class="d-block mx-auto mb-4" src= <%= authorbook.cover %> alt="" width="172" height="257">
  </div>
  <h2> <%= authorbook.title %> </h2>
  <p> <%= authorbook.description %> </p>
  <a href="/books/detail/<%= authorbook.id %>" class="icon-link">
    Detail
  </a>
</div>



